#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# mod-token-turnin configuration
########################################
#
#    TokenTurnIn.Enable
#        Description: Enable the .tokenturnin check|redeem commands.
#        Default:     1 - Enabled
#                     0 - Disabled
#

TokenTurnIn.Enable = 1
